body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}
.header {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around; ;
    background-color: hsl(215, 33%, 22%);
    color: white;
    align-items: center;
    padding: 12px;
    flex: 1 1 auto;
    gap:100px;
    border-bottom: 2px solid ;

}
.body {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.body-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #1f2937;
    color: white;   
    font-family: Arial, Helvetica, sans-serif;
    align-content: space-around;
    padding:16px;
    justify-content: space-evenly;
    height: 350px;
    flex: 1 1 auto;
    padding: 35px;

}

.awesome {
    font-size: 48px;
    font-weight: bold;
    width: 400px;
}

.secondary {
    width: 400px;
}
button {
    width: 75px;
    height: 25px;
    background-color: #3882f6;
    color: white;
    border: #3882f6;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    background-color: lightskyblue;
    color: #424041
}

.placeholder {
    background-color: grey;
    height: 150px;
    width: 500px;
    text-align: center;
    padding-top: 95px;
    margin-top: 70px;
    flex: 0 1 auto;
}

.title {
    font-size: 24px;
    font-weight: bolder;
    margin-right: 100px;
}

.body-body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    height: 550px;
}

.tele {
    border: 3px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap:60px;
    margin-top: 20px;
    flex-wrap: wrap;
    flex: 1;
    height: 500px;
    align-content: center;
    color: grey;

}

.body-legs {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 650px;
    font-size: 36px;
    font-style: italic;
    color: #353d49;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width:650px;
    flex-direction: row-reverse;
    margin-top: 0;


}

.body-feet {
    background-color: white;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    
}
.container-2 {
    display: flex;
    background-color: #3882f6;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    height:80px;
    width:900px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding:20px;
    padding-left: 80px;
}.call, .call-t{
    margin:0;
}

.call{
    font-size: 24px;
    font-weight: bold;

}
.button{
    border: 2px solid white;
    margin:20px;
    margin-left: 20x;
}

.footer {
    background-color: #1f2937;
    display:flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    flex: auto;
}
.text {
    width:200px;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

li {
    list-style: none;
}